.grid-header {
    display: flex;
    background: #eeeeee54;
    padding: 25px;
}

.grid-header > section {
    width: 19%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-start;
}

.grid-header > section > span:first-of-type {
    font-weight: bold;
    padding: 20px;
}

.grid-header > section > * {
    width: 100%;
}

.grid-header input[type="text"],
.grid-header input[type="number"], .filter-type-container select {
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #ccc;
    width: 250px;
}

.filter-type-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border:none;
    padding: unset;
}

.filter-type-container div {
    display: flex;
/*     align-items: flex-start; */
}

.filter-type-container label {
    font-size: .9rem;
    padding: 10px;
}

.filter-box {
    padding: 10px;
    max-height: 110px;
    overflow: hidden;
    overflow-y: auto;
}

.filter-box.outputs {
    background: white;
    max-width: 175px;
}
