.login-form input,
.register-form input {
  padding: 10px;
  border: 1px solid #eee;
  border-radius: 4px;
  width: 300px;
}

.App {
  text-align: center;
}

.App-logo {
  margin: 20px 0 75px;
  height: 150px;
}

.App-header {
  font-size: 2rem;
  background-color: white;
  color: #434343;
}

.login-form {
  color: #434343;
  font-size: 1.5rem;
}

.login-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-btn {
  font-size: 1rem;
  color: white;
  margin:10px;
  background-color: #008CBA;
  padding: 10px;
  border-radius: 8px;
  border: 2px solid #008CBA;
}

.login-btn:hover {
  background-color: white;
  border: 2px solid #008CBA;
  color: #008CBA;
}

.Navigation ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

.Navigation li {
  padding: 5px;
  margin: 20px;
}

.Navigation a {
  text-decoration: none;
  color: #434343;
}

.Navigation a:hover,
.Navigation a:active,
.Navigation a.active {
  color: salmon;
}


.flex-column {
  display: flex;
  flex-direction: column;
}